@using SmartHouseMVC.Models.ImplementedInterfaces
@using SmartHouseMVC.Models.Interfaces
@model SmartHouseMVC.Models.ImplementedInterfaces.TV
<br />
<br />
          
            <button type="submit" name="action" value="show" class="btn btn-primary">Show</button>
            if ((List<string>
                )TempData["List"] != null)
                {
                Html.RenderPartial("TV", (List<string>
                    )TempData["List"]);
                    }
                    <br />
                    <input type="text" name="channelTV" />
                    <button type="submit" name="action" value="AddChannel" class="btn btn-primary">Add Channel</button>
                    <br />
                    <button type="submit" name="action" value="DeleteChannel" class="btn btn-warning">Delete current channel</button>
                    <br />
                    <button type="submit" name="action" value="Prev" class="btn btn-info"><-</button>
                    <button type="submit" name="action" value="Next" class="btn btn-primary" id="nextbtn">-></button>
                    <br />
                    <div id="results"></div>
                    <br />
                                                 

